---
layout: base
css:
  - pages/index.css
---

<meta http-equiv="refresh" content="2;url=http://startupatbrown.herokuapp.com/" />

<body id="skrollr-body" >
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=610602015680966";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!--   {% include nav.html %} -->

  <section id="splash">
    <div style="transform: translate3d(0,0,0);"></div>
    <div class="container">
      <div id="first-impression" class="row"  data-0="transform:translate(0,0%);" data-50p="transform:translate(0,50%);">
        <!-- Logo -->
        <div id='title'>
        <!-- <img data-0="transform:translate(0,0%);" data-40p="transform:translate(0,40%);" data-110p="transform:translate(0,280%);" id="logo-symbol" class="logo " src="img/logo-bigger.png"> -->
        <div id='title-col'>
        <img id="logo-letters" class="logo" src="img/startup@brown.png" 
          data-0="opacity:1; transform:translate(0,0%)" data-23p="transform:translate(0,20%)" data-25p="opacity:0;">
        </div>
        <div id='title-col'>
        <img id="logo-letters" class="logo" src="img/we@brown.png" 
         data-0="opacity:1; transform:translate(0,0%)" data-23p="transform:translate(0,20%)" data-25p="opacity:0;">
        </div>
        </div>
        <h3 id="tagline" data-0="opacity:1;" data-18p="opacity:0;">The 2022 Brown Entrepreneurship Conference</h3>
        <!-- <h3 id="tagline" data-0="opacity:1;" data-18p="opacity:0;">CONNECTING STUDENTS AND STARTUPS</h3> -->
        <p id="event-info" data-0="opacity:1;" data-18p="opacity:0;">You will be redirected shortly, click the button below if nothing happens.</p>
        <div data-0="opacity:1;" data-10p="opacity:0;">
          <button onclick="window.open('http://startupatbrown.herokuapp.com/','_blank');" id="register-button" class="centered">Click Here</button>
        </div>
      </div>
    </div>

    <div class="background">
      <div id="top-left-red" class="shape red"
        data-top="transform:translate(-85%,-10%)rotate(-40deg);" 
        data-top-bottom="transform:translate(-45%,10%)rotate(-50deg);" >
      </div>
      <div id="top-right-gold" class="shape gold"
        data-anchor-target="#splash"
        data-top="transform:translate(85%,-98%)rotate(-30deg);" 
        data-top-bottom="transform:translate(70%,-60%)rotate(5deg);">
      </div>
      <div id="bottom-right-red" class="shape red"
        data-anchor-target="#splash" 
        data--10-top="transform:translate(75%,-20%)rotate(30deg);" 
        data-top-bottom="transform:translate(40%,10%)rotate(30deg);">
      </div> 
      <div id="bottom-left-gold" class="shape gold"
        data-anchor-target="#splash"
        data-top="transform:translate(-15%,90%)rotate(5deg); opacity:1;" 
        data-55p="transform:translate(0,60%)rotate(0deg); opacity:0;" >
      </div>
    </div>
  </section>

  {% include footer.html %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- JavaScript -->
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/skrollr.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/home.js"></script>

  <script src="/js/jquery.scrolldepth.min.js"></script>
  <script>
    jQuery(function() {
      jQuery.scrollDepth();
    });
  </script>


</body>
