---
layout: base
css:
  - pages/index.css
---

<body id="skrollr-body" >
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=610602015680966";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!--   {% include nav.html %} -->

  <section id="splash">
    <div style="transform: translate3d(0,0,0);"></div>
    <div class="container">
      <div id="first-impression" class="row"  data-0="transform:translate(0,0%);" data-50p="transform:translate(0,50%);">
        <!-- Logo -->
        <img data-0="transform:translate(0,0%);" data-40p="transform:translate(0,40%);" data-110p="transform:translate(0,280%);" id="logo-symbol" class="logo " src="img/logo-bigger.png">
        <img id="logo-letters" class="logo" src="img/logo-letters.png" 
          data-0="opacity:1; transform:translate(0,0%)" data-23p="transform:translate(0,20%)" data-25p="opacity:0;">

        <h3 id="tagline" data-0="opacity:1;" data-18p="opacity:0;">CONNECTING STUDENTS AND STARTUPS</h3>
        <p id="event-info" data-0="opacity:1;" data-18p="opacity:0;">April 9-10, 2022</p>
        <div data-0="opacity:1;" data-10p="opacity:0;">
          <button onclick="window.open('https://brown.zoom.us/j/98286394936','_blank');" id="register-button" class="centered">JOIN NOW</button>
        </div>
      </div>
    </div>

    <div class="background">
      <div id="top-left-red" class="shape red"
        data-top="transform:translate(-85%,-10%)rotate(-40deg);" 
        data-top-bottom="transform:translate(-45%,10%)rotate(-50deg);" >
      </div>
      <div id="top-right-gold" class="shape gold"
        data-anchor-target="#splash"
        data-top="transform:translate(85%,-98%)rotate(-30deg);" 
        data-top-bottom="transform:translate(70%,-60%)rotate(5deg);">
      </div>
      <div id="bottom-right-red" class="shape red"
        data-anchor-target="#splash" 
        data--10-top="transform:translate(75%,-20%)rotate(30deg);" 
        data-top-bottom="transform:translate(40%,10%)rotate(30deg);">
      </div> 
      <div id="bottom-left-gold" class="shape gold"
        data-anchor-target="#splash"
        data-top="transform:translate(-15%,90%)rotate(5deg); opacity:1;" 
        data-55p="transform:translate(0,60%)rotate(0deg); opacity:0;" >
      </div>
    </div>
  </section>

  <section id="intro">
    <div class="container">
      <div class="row">
        <h2>Connect and work<br> with innovative startups</h2>
        <div class="intro-description">
          <p>Startup@Brown is a day-long conference on Saturday, March 27th hosted virtually at Brown University, bringing together innovative startups and talented students.</p>
          <p>Come to learn about startups and their stories. Leave with a new perspective and your next summer internship or full-time job.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="speakers">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="speakers-header ">
          <h2>Highlighted Speakers</h2>
          <p>We'll have a series of talks by trailblazing founders, entrepreneurs, and venture capitalists.</p>
        </div>
      </div>
    </div>
    <ul class="thumbnails">
      <li id="lorine">
        <div class="speaker-label">
          <p class="speaker-name">Lorine Pendleton</p>
          <p class="speaker-description">Lead Investor, <a href="https://www.portfolia.co/risingamerica-fund">Rising America Fund</a> and Board Member, <a href="https://www.angelcapitalassociation.org/">Angel Capital Association</a></p>
        </div>
      </li>
      <li id="cliff">
        <div class="speaker-label">
          <p class="speaker-name">Cliff Weitzman</p>
          <p class="speaker-description">Founder and CEO, <a href="https://speechify.com/">Speechify</a></p>
        </div>
      </li>
      <li id="liz">
        <div class="speaker-label">
          <p class="speaker-name">Liz Wessel</p>
          <p class="speaker-description">Co-Founder and CEO, <a href="https://www.wayup.com/">WayUp</a></p>
        </div>
      </li>
      <li id="ben">
        <div class="speaker-label">
          <p class="speaker-name">Benjamin Chesler</p>
          <p class="speaker-description">Co-Founder, <a href="https://www.imperfectfoods.com/">Imperfect Foods</a></p>
        </div>
      </li>
      <li id="marcel">
        <div class="speaker-label">
          <p class="speaker-name">Marcel Magermans</p>
          <p class="speaker-description">Co-Founder, <a href="https://mmid-group.com/">MMID</a></p>
        </div>
      </li>
            <li id="cheryl">
        <div class="speaker-label">
          <p class="speaker-name">Cheryl McCants</p>
          <p class="speaker-description">President and CEO, <a href="https://www.eimpactconsulting.com/">Impact Consulting</a></p>
        </div>
      </li>
      <li id="sam">
        <div class="speaker-label">
          <p class="speaker-name">Sam Baker</p>
          <p class="speaker-description">Vice President, <a href="https://www.scalevp.com/">Scale Venture Partners</a></p>
        </div>
      </li>
    </ul>
    <svg class="slant redslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
  </section>
  <section id="items" width="100%">
    <svg class="slant redslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <svg class="slant whiteslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
    <div id="items-container">
      <div id="startup-fair" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Recruiting Fair</p>
          <p class="speaker-description">Meet with startups and other innovative companies to learn about their work, challenges, and career opportunities in an easily accessible, virtual setting.</p>
        </div>
      </div>
      <div id="small-conversations" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Small Group Conversations</p>
          <p class="speaker-description">Sit down with startup leaders and fellow students for an intimate and lively discussion. Now's your chance to ask away!</p>
        </div>
      </div>
      <div id="workshops" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Workshops</p>
          <p class="speaker-description">Learn about everything from scaling your tech stack to starting a company as a student.</p>
        </div>
      </div>
    </div>
  </section>



  <section id="sponsors">
    <div class="container">
      <div class="row">
        <h2>Participating Companies</h2>
        <p>Meet the amazing startups and VC firms represented at Startup@Brown 2021.</p>
<!--         <p>Meet the amazing startups and VC firms<br> represented at Startup@Brown 2021.</p> -->
        <!--<p>If you'd like to be a sponsor for Startup@Brown 2021, <a href="/participate" target="_blank">learn more</a>, or <a href="mailto:sponsor@startupatbrown.org" class="">email us</a>.</p><br>-->


        <div class="company-row">
          <a href="https://speechify.com/" target="_blank"><img id="speechify" src="img/companies/speechify.png" class="img-responsive"></img></a>
          <a href="https://www.imperfectfoods.com/" target="_blank"><img id="imperfectfoods" src="img/companies/imperfectfoods.png"class="img-responsive"></img></a>
<!--           <a href="http://www.facebook.com" target="_blank"><img id="facebook" src="img/companies/facebook.png" class="img-responsive"></img></a> -->
          <a href="https://www.about.pangea.app/" target="_blank"><img id="pangea" src="img/companies/pangea.jpg" class="img-responsive"></img></a>
        </div>
        <div class="company-row">
          <a href="http://teespring.com" target="_blank"><img id="teespring" src="img/companies/teespring.png" class="img-responsive"></img></a>
          <a href="https://mmid-group.com/" target="_blank"><img id="mmid" src="img/companies/mmid.png" class="img-responsive"></img></a>
          <a href="https://www.portfolia.co/risingamerica-fund" target="_blank"><img id="risingamericafund" src="img/companies/risingamericafund.png" class="img-responsive"></img></a>
        </div>
         <div class="company-row">
          <a href="https://www.scalevp.com/" target="_blank"><img id="scalevp" src="img/companies/scalevp.png" class="img-responsive"></img></a>
          <a href="https://www.bambiniware.com/" target="_blank"><img id="bambiniware" src="img/companies/bambiniware.png" class="img-responsive"></img></a>
          <a href="https://www.wayup.com/" target="_blank"><img id="wayup" src="img/companies/wayup.svg" class="img-responsive"></img></a>
          <a href="https://contrarycap.com/" target="_blank"><img id="contrary" src="img/companies/contrary.jpeg" class="img-responsive"></img></a>
        </div>

         <div class="company-row">
          <a href="https://www.downdogapp.com/" target="_blank"><img id="downdog" src="img/companies/downdog.png"class="img-responsive"></img></a>
          <a href="https://www.internfromhome.com/" target="_blank"><img id="internfromhome" src="img/companies/internfromhome.jpg"class="img-responsive"></img></a>
          <a href="https://www.vorbeck.com/" target="_blank"><img id="vorbeck" src="img/companies/vorbeck.png"class="img-responsive"></img></a>
        </div>

        <div class="company-row">
         <a href="https://www.eimpactconsulting.com/" target="_blank"><img id="impactconsulting" src="img/companies/impactconsulting.jpg" class="img-responsive"></img></a>
         <a href="https://upheavalinvestments.com/" target="_blank"><img id="upheaval" src="img/companies/upheaval.png" class="img-responsive"></img></a>
         <a href="https://www.kerlygirl.com/" target="_blank"><img id="kerlygirl" src="img/companies/kerlygirl.png" class="img-responsive"></img></a>
         <a href="https://corgibytes.com/" target="_blank"><img id="corgibytes" src="img/companies/corgibytes.png" class="img-responsive"></img></a>
         <a href="https://www.dreamlabs.tech/" target="_blank"><img id="dreamlabs" src="img/companies/dreamlabs.png" class="img-responsive"></img></a>
         <a href="https://masschallenge.org/" target="_blank"><img id="masschallenge" src="img/companies/masschallenge.png" class="img-responsive"></img></a>
       </div>

        <div class="company-row">
         <a href="https://www.angelcapitalassociation.org/" target="_blank"><img id="angelcapital" src="img/companies/angelcapital.png" class="img-responsive"></img></a>
         <a href="https://joinhellofriend.com/" target="_blank"><img id="hellofriend" src="img/companies/hellofriend.png" class="img-responsive"></img></a>
         <a href="https://rally.co/" target="_blank"><img id="rally" src="img/companies/rally.jpeg" class="img-responsive"></img></a>
         <a href="https://www.glynncapital.com/" target="_blank"><img id="glynncapital" src="img/companies/glynncapital.png" class="img-responsive"></img></a>
         <a href="https://www.ugrowthfund.com/" target="_blank"><img id="univgrowth" src="img/companies/univgrowth.png" class="img-responsive"></img></a>
       </div>

        <div class="company-row">
        <a href="https://wefunder.com/" target="_blank"><img id="wefunder" src="img/companies/wefunder.png" class="img-responsive"></img></a>
        <a href="https://www.intuscare.com/" target="_blank"><img id="intus" src="img/companies/intus.png" class="img-responsive"></img></a>
        <a href="https://www.splitwise.com/" target="_blank"><img id="splitwise" src="img/companies/splitwise.png" class="img-responsive"></img></a>
       </div>

<!--        <div class="company-row">
        <a href="https://contrarycap.com/" target="_blank"><img id="contrary" src="img/companies/contrary.jpeg" class="img-responsive"></img></a>
       </div> -->
<!-- 
       <div class="company-row">
        <a href="http://bluejeans.com" target="_blank"><img id="bluejeans" src="img/companies/blueJeans.png" class="img-responsive"></img></a>
        <a href="http://interana.com" target="_blank"><img id="interana" src="img/companies/interana.png" class="img-responsive"></img></a>
        <a href="http://figma.com" target="_blank"><img id="figma" src="img/companies/figma.svg" class="img-responsive"></img></a>
       </div>

      <div class="company-row">
          <a href="http://actioniq.co" target="_blank"><img id="actioniq" src="img/companies/actioniq2.png"class="img-responsive"></img></a> 
          <a href="http://segreenhouse.org" target="_blank"><img id="segreenhouse" src="img/companies/socialEnterpriseGreenhouse.png" class="img-responsive"></img></a>
          <a href="http://startupbootcamp.org" target="_blank"><img id="startupbootcamp" src="img/companies/startupbootcamp.png" class="img-responsive"></img></a>
        </div>
        <div class="company-row">
          <a href="http://foundersleague.co" target="_blank"><img id="founders-league" src="img/companies/founders-league.png"class="img-responsive"></img></a>
          <a href="http://www.mdv.com/" target="_blank"><img id="mdv" src="img/companies/mdv.png" class="img-responsive"></img></a>
          <a href="http://generalcatalyst.com" target="_blank"><img id="general-catalyst" src="img/companies/general-catalyst.png" class="img-responsive"></img></a> 
        </div>
       
        <div class="company-row">
          <a href="http://ycombinator.com" target="_blank"><img id="yc" src="img/companies/yc.jpg" class="img-responsive"></img></a>
          <a href="http://techstars.com" target="_blank"><img id="techstars" src="img/companies/techstars.jpg" class="img-responsive"></img></a>
          <a href="http://betaspring.com" target="_blank"><img id="betaspring" src="img/companies/betaspring2.png"class="img-responsive"></img></a>
          
        </div> -->
      </div>
    </div>
  </section>

  <section id="schedule">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>

    <div class="container">
      <div class="row">
        <div class="header">
          <h2>Schedule</h2>
          <p>We have some great programming lined up this year. Stay tuned for updates.</p>
        </div>
         <div class="timeline">
          <div id="saturday" class="tl-day">
            <h3>Saturday, March 27</h3>
            <ul>
              <li>
                <span class="tl-time">12:00 PM</span>
                <span class="tl-title">Opening Keynote Speaker</span>
              </li>
              <li>
                <span class="tl-time">12:40 PM</span>
                <span class="tl-title">Workshops Session I</span>
              </li>
              <li>
                <span class="tl-time">1:25 PM</span>
                <span class="tl-title">Workshops Session II</span>
              </li>
              <li>
                <span class="tl-time">2:05 PM</span>
                <span class="tl-title">Workshops Session III</span>
              </li>
              <li>
                <span class="tl-time">2:45 PM</span>
                <span class="tl-title">Closing Keynote Speaker</span>
              </li>
              <li>
                <span class="tl-time">3:15 PM</span>
                <span class="tl-title">Live Raffle</span>
              </li>
              <li>
                <span class="tl-time">3:20 PM</span>
                <span class="tl-title">Recruiting Fair &amp; Social</span>
              </li>
            </ul>
         </div>
         
         <!-- <div id="sunday" class="tl-day">
          <h3>Sunday, Sept 27</h3>
          <ul>
              <li>
                <span class="tl-time">10:00 AM</span>
                <span class="tl-title">Brunch</span>
              </li>
              <li>
                <span class="tl-time">10:30 AM</span>
                <span class="tl-title">Small Group Conversations I</span>
              </li>
              <li>
                <span class="tl-time">11:15 AM</span>
                <span class="tl-title">Small Group Conversations II</span>
              </li>
              <li>
                <span class="tl-time">12:00 PM</span>
                <span class="tl-title">Closing Keynote</span>
              </li>
            </ul>
         </div> -->
        </div> 
      </div>
    </div>

    <div class="arrow-right" data-start="transform:translate(0%,-250%)" data-end="transform:translate(0%, 0%)"></div>
    <div class="arrow-right arrow-large" data-start="transform:translate(0%,-120%)" data-end="transform:translate(0%,80%)"></div>
  </section>

  <section id="workshops-section">
    <svg class="slant redslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div id="faq-questions" class="col-sm-4">
          <h2>Workshops</h2>
          <p>Learn from leaders, engineers, and designers in the startup world.</p> 
        </div>

        <div class="col-sm-7">
          <h3 style="font-weight: bold">Workshops Session 1 — 12:40 - 1:20 PM ET</h3>

          
          <h3>5 Things I Got Wrong and 5 Things I Got Right in my First 5 Years Building a Startup</h3>
          <p>Liz Wessel, Co-Founder & CEO at <a href="https://www.wayup.com/">WayUp</a></p>
          
          <h3>Venture Capital: An Introduction</h3>
          <p>Sam Baker, Vice President at <a href="https://www.scalevp.com/">Scale Venture Partners</a></p>
          
          <h3>Perseverance and Passion: A Recipe for Entrepreneurial Success</h3>
          <p>Cheryl McCants, President and CEO at <a href="https://www.eimpactconsulting.com/">Impact Consulting</a></p>
          
          <h3>How I Designed My Life as an Entrepreneur</h3>
          <p>Riche Holmes Grant, Founder at <a href="https://www.bambiniware.com/">BambiniWare</a></p>

          <h3>Who's Your Therapist?</h3>
          <p>Marcel Magermans, Founder & President at <a href="https://mmid-group.com/">MMID</a></p>
          
          
          <h3 style="font-weight: bold">Workshops Session 2 — 1:25 - 2:05 PM ET</h3>
          
          
          <h3>Hyper-Growth</h3>
          <p>Ben Chesler, Co-Founder at <a href="https://www.imperfectfoods.com/">Imperfect Foods</a></p>
          
          <h3>10 Lessons Learned on the Journey from B-Lab to Y Combinator</h3>
          <p>Adam Alpert, Co-Founder & CEO at <a href="https://www.about.pangea.app/">Pangea.app</a></p>
          
          <h3>Breaking into VC: A Circuitous Path (spoiler alert—there's no perfect way)</h3>
          <p>Cassandra Carothers, Investor at <a href="https://upheavalinvestments.com/">Upheaval Investments</a> and Technical Sales Manager at <a href="https://corgibytes.com/">Corgibytes</a></p>
          
          <h3>Student Entrepreneurship Demystified: How I Went From a Successful Student Entrepreneur Selling My Company to SoftBank to Grading Students at Brown</h3>
          <p>Patrick McQuown, Executive Director of Entrepreneurship at <a href="https://www.towson.edu/campus/entrepreneurship.html">Towson University</a></p>
          
          <h3>From Materials Science to Clothing Design to the Cloud: Bringing Multi-Disciplinary Products to Market</h3>
          <p>John Lettow, President & CEO at <a href="https://www.vorbeck.com/">Vorbeck</a></p>
          

          <h3 style="font-weight: bold">Workshops Session 3 — 2:05 - 2:45 PM ET</h3>
          
          <h3>Founding Splitwise and Scaling to Millions of Users</h3>
          <p>Jon Bittner, Co-Founder & CEO at <a href="https://www.splitwise.com/">Splitwise</a></p>

          <h3>Investors Suck And You Don't Need Them</h3>
          <p>Ben Simon, CEO at <a href="https://www.downdogapp.com/">Down Dog App</a></p>
          
          <h3>How I’m Building This: A Founder’s AMA on Beauty and Entrepreneurship</h3>
          <p>Kerlyne Jean-Baptiste, Founder at <a href="https://www.kerlygirl.com/">KerlyGirl</a></p>
          
          <h3>Wickenden Wisdom: Dream Notes from a Startup Fantasy</h3>
          <p>Evan Stites-Clayton, Co-Founder at <a href="https://teespring.com/">Teespring</a> and Founder at <a href="https://www.dreamlabs.tech/">Newday</a></p>
          
          <h3>Workshop Title Coming Soon!</h3>
          <p>Lorine Pendleton, Lead Investor at <a href="https://www.portfolia.co/risingamerica-fund">Rising America Fund</a> and Board Member at <a href="https://www.angelcapitalassociation.org/">Angel Capital Association</a></p>
          
          <h3>How to Discover and Land an Internship at a Startup</h3>
          <p>Chuck Isgar, Co-Founder & CEO at <a href="https://www.internfromhome.com/">Intern From Home</a></p>

          <!-- <h3>The Path to Entrepreneurship</h3>
          <p>Evan Stites-Clayton, Co-Founder and CTO at Teespring</p>
          <h3>Evaluating Startup vs Big Company Offers</h3>
          <p>Matt Doka, Co-Founder and CTO at Fivestars</p> -->

          <!-- <h3>What is Product Management?</h3>
          <p>Jason Grauel, Director of Product Management at Delphix</p>

          <h3>Product Design at a Startup</h3>
          <p>Sam Pierce Lolla, Lead Designer at Farmlogs</p>

          <h3>Funding 101</h3>
          <p>Christian Seale, Venture Partner at Startupbootcamp and Co-Founder of Equitable Origin</p> -->

          <!-- <h3>Robust to Luck: Opportunities, Uncertainty, &amp; Outcomes</h3>
          <p>Jerry Talton, CEO at Apropose</p>

          <h3>Amazon Web Services and Docker</h3>
          <p>Bright Fulton, Director of Engineering Operations at Swipely</p>

          <h3>Building a Healthy Culture</h3>
          <p>Marge Anderson, Operations at Interana</p>

          <h3>Building Products</h3>
          <p>Peter Boyce, VC at General Catalyst and Founder of Rough Draft Ventures</p>

          <h3>Start Smart: Building A Company That Succeeds</h3>
          <p>Abhas Gupta, Partner at Mohr Davidow Ventures</p>

          <h3>Startup Early-Days: Launch and Take-off</h3>
          <p>Harry Zhang, Co-Founder at Lob</p>

          <h3>Ditching the App: An Intro to Enterprise Startups</h3>
          <p>Justin DeBrabant, Head of Data Architecture at ActionIQ</p>

          <h3>Don't Crash the Car: 6 Entrepreneurial Mistakes and How to Avoid Them</h3>
          <p>Allan Tear, Co-Founder of Betaspring</p>

          <h3>28 Startup Myths that May Surprise You</h3>
          <p>Dylan Field, Co-Founder at Figma; Thiel Fellow</p>

          <h3>Building Your First Physical Product</h3>
          <p>Luke Sherwin, Co-Founder and Chief Creative Officer at Casper<br>Eli Bosworth, Director of Operations Technology at Casper</p>

          <h3>User Experience</h3>
          <p>Kevin Hale, Co-Founder of Wufoo and Partner at Y Combinator</p> -->

          <h3></h3>
        </div>
      </div>
    </div>
  </section>

  <section id="faq">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div id="faq-questions" class="col-sm-7">
          <h2>FAQs</h2>
          <h3>Who can attend Startup@Brown?</h3>
          <p>All Brown and RISD undergraduate, graduate students, and alumni are welcome! If you're not associated with Brown or RISD, still register and we'll do our best to make sure you get a spot!</p>
          <h3>Why Startup@Brown?</h3>
          <p>As students, while we get a lot of exposure to larger companies, we don’t often hear about the exciting work startups do and the challenges they face. At Startup@Brown, you’ll get the chance to talk in small groups with founders, engineering leads, and venture capitalists. Come to learn about startups and their stories. Leave with a new perspective and your next summer internship or full-time job.</p>
          <h3>What will the event be like?</h3>
          <p>Startup@Brown is a day-long event where you’ll have the chance to interact closely with startup founders, many of them alumni.</p>
          <p>The event will focus on small-group conversations and workshops on topics from “What is Product Management” to “Exploring Accelerators.” Meet with engineers and designers, discuss the technical problems they’re trying to solve, and maybe they'll interest you enough for an internship or job :)</p>
          <h3>How do I apply?</h3>
          <p>Register for Startup@Brown 2021 <a href="https://startupatbrown.typeform.com/to/eaTdLeoW">here</a>!</p> 
          <h3>When will I find out if I'm accepted?</h3>
          <p>We would love if everyone could attend, but in past years we've received more interest than available. Please apply early to reserve your spot!</p>
        </div>
        
        <div id="questions-contact" class="col-sm-4">
          <p id="questions"><b>QUESTIONS?</b></p>
          <small>Contact Us</small><br>
          <small><a class="aside-email" href="mailto:startup@brown.edu">startup@brown.edu</a></small>
<!--           <small>You'll reach Valentin Perez.</small> -->
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="map">
    <svg class="slant grayslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z"></path>
    </svg>
    <svg class="slant whiteslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="location-box">
          <a href="https://goo.gl/maps/JdtT6" target="_blank"><i class="fa fa-location-arrow fa-2x"></i></a>
          <h3>Alumnae Hall</h3>
          <p>194 Meeting St., Providence, RI 02912</p>
        </div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.9403349418553!2d-71.40211339999999!3d41.829582900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e445230eba9fed%3A0x40de006467cd1fd2!2sAlumnae+Hall!5e0!3m2!1sen!2sus!4v1440657639294" width="100%" height="650px" frameborder="30px" style="border:0; pointer-events: none;" allowfullscreen></iframe>
  </section> -->

  <section id="register">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Register</h2>
          <p class="large">Meet amazing startups and find your next internship or full-time job.</p>
          <a href="https://startupatbrown.typeform.com/to/eaTdLeoW" id="bottom-register-button"class="btn btn-primary">Register Here</a>
          <!-- <p>Or <a href="/volunteer" class="secondary">sign up to be a volunteer.</a></p> -->
        </div>
      </div>
    </div>
  </section>

  <section id="share">
    <div class="container">
      <div class="fb-like" data-href="https://facebook.com/startupatbrown" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </section>

  {% include footer.html %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- JavaScript -->
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/skrollr.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/home.js"></script>

  <script src="/js/jquery.scrolldepth.min.js"></script>
  <script>
    jQuery(function() {
      jQuery.scrollDepth();
    });
  </script>


</body>
