---
layout: base
css:
  - pages/index.css
---

<body id="skrollr-body" >
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=610602015680966";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <!--   {% include nav.html %} -->

  <section id="splash">
    <div style="transform: translate3d(0,0,0);"></div>
    <div class="container">
      <div id="first-impression" class="row"  data-0="transform:translate(0,0%);" data-50p="transform:translate(0,50%);">
        <!-- Logo -->
        <img data-0="transform:translate(0,0%);" data-40p="transform:translate(0,40%);" data-110p="transform:translate(0,280%);" id="logo-symbol" class="logo " src="img/logo-bigger.png">
        <img id="logo-letters" class="logo" src="img/logo-letters.png" 
          data-0="opacity:1; transform:translate(0,0%)" data-23p="transform:translate(0,20%)" data-25p="opacity:0;">

        <h3 id="tagline" data-0="opacity:1;" data-18p="opacity:0;">CONNECTING STUDENTS AND STARTUPS</h3>
        <p id="event-info" data-0="opacity:1;" data-18p="opacity:0;">April 9-10, 2022</p>
        <div data-0="opacity:1;" data-10p="opacity:0;">
          <button onclick="window.open('https://www.eventbrite.com/e/2022-brown-entrepreneurship-conference-tickets-295260390777','_blank');" id="register-button" class="centered">REGISTER NOW</button>
        </div>
      </div>
    </div>

    <div class="background">
      <div id="top-left-red" class="shape red"
        data-top="transform:translate(-85%,-10%)rotate(-40deg);" 
        data-top-bottom="transform:translate(-45%,10%)rotate(-50deg);" >
      </div>
      <div id="top-right-gold" class="shape gold"
        data-anchor-target="#splash"
        data-top="transform:translate(85%,-98%)rotate(-30deg);" 
        data-top-bottom="transform:translate(70%,-60%)rotate(5deg);">
      </div>
      <div id="bottom-right-red" class="shape red"
        data-anchor-target="#splash" 
        data--10-top="transform:translate(75%,-20%)rotate(30deg);" 
        data-top-bottom="transform:translate(40%,10%)rotate(30deg);">
      </div> 
      <div id="bottom-left-gold" class="shape gold"
        data-anchor-target="#splash"
        data-top="transform:translate(-15%,90%)rotate(5deg); opacity:1;" 
        data-55p="transform:translate(0,60%)rotate(0deg); opacity:0;" >
      </div>
    </div>
  </section>

  <section id="intro">
    <div class="container">
      <div class="row">
        <h2>Connect and work<br> with innovative startups</h2>
        <div class="intro-description">
          <p>Startup@Brown is a 2-day conference on April 9th and 10th hosted virtually at Brown University, bringing together innovative startups and talented students.</p>
          <p>Come to learn about startups and their stories. Leave with a new perspective and your next summer internship or full-time job.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="speakers">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="speakers-header ">
          <h2>Highlighted Speakers</h2>
          <p>We'll have a series of talks by trailblazing founders, entrepreneurs, and venture capitalists.</p>
        </div>
      </div>
    </div>
    <ul class="thumbnails">
      <li id="charlie">
        <div class="speaker-label">
          <p class="speaker-name">Charlie Kroll</p>
          <p class="speaker-description">Chief Revenue Officer, <a href="https://lithic.com/">Lithic</a> and Co-Founder, <a href="https://www.ellevest.com/">Ellevest</a></p>
        </div>
      </li>
      <li id="valentin">
        <div class="speaker-label">
          <p class="speaker-name">Valentin Perez</p>
          <p class="speaker-description">Co-Founder, <a href="https://monthly.com/">Monthly</a></p>
        </div>
      </li>
      <li id="kraft">
        <div class="speaker-label">
          <p class="speaker-name">Dr. Daniel Kraft</p>
          <p class="speaker-description">Founder & CEO, <a href="https://www.digital.health/">Digital.Health</a></p>
        </div>
      </li>
      <li id="marianna">
        <div class="speaker-label">
          <p class="speaker-name">Marianna Zaslavsky</p>
          <p class="speaker-description">VP of Data Partnerships, <a href="https://www.getready.com/">Ready</a> and Founder/CEO, <a href="https://www.facebook.com/norkahealth/">Norka Health</a></p>
        </div>
      </li>
      <li id="patty">
        <div class="speaker-label">
          <p class="speaker-name">Patty Sweeny</p>
          <p class="speaker-description">Managing Director, <a href="https://www.blackrock.com/">Blackrock</a></p>
        </div>
      </li>
            <li id="kathryn">
        <div class="speaker-label">
          <p class="speaker-name">Kathryn Moos</p>
          <p class="speaker-description">Co-Founder, <a href="https://liveowyn.com/">OWYN</a></p>
        </div>
      </li>
      <li id="sam">
        <div class="speaker-label">
          <p class="speaker-name">TBD</p>
          <!-- <p class="speaker-description">?????, <a href="">?????</a></p> -->
        </div>
      </li>
    </ul>
    <svg class="slant redslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
  </section>
  <section id="items" width="100%">
    <svg class="slant redslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <svg class="slant whiteslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
    <div id="items-container">
      <div id="startup-fair" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Recruiting Fair</p>
          <p class="speaker-description">Meet with startups and other innovative companies to learn about their work, challenges, and career opportunities in an easily accessible, virtual setting.</p>
        </div>
      </div>
      <div id="small-conversations" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Small Group Conversations</p>
          <p class="speaker-description">Sit down with startup leaders and fellow students for an intimate and lively discussion. Now's your chance to ask away!</p>
        </div>
      </div>
      <div id="workshops" class="item">
        <div class="speaker-label">
          <p class="speaker-name">Workshops</p>
          <p class="speaker-description">Learn about everything from scaling your tech stack to starting a company as a student.</p>
        </div>
      </div>
    </div>
  </section>



  <section id="sponsors">
    <div class="container">
      <div class="row">
        <h2>Participating Companies</h2>
        <p>Meet the amazing startups and VC firms represented at Startup@Brown 2022.</p>
        <div class = "items-container" style="text-align: center;">

        <div class="company-row">
          <a href="https://www.blackrock.com/" target="_blank"><img id="blackrock" src="img/companies/blackrock.png" class="img-responsive"></img></a>
          <a href="https://speechify.com/" target="_blank"><img id="speechify" src="img/companies/speechify.png" class="img-responsive"></img></a>
          <a href="https://www.digital.health/" target="_blank"><img id="digitalhealth" src="img/companies/digitalhealth.png"class="img-responsive"></img></a>
        </div>
        <div class="company-row">
          <a href="https://cohart.co/" target="_blank"><img id="cohart" src="img/companies/cohart.jpeg" class="img-responsive"></img></a>
          <a href="https://www.ellevest.com/" target="_blank"><img id="ellevest" src="img/companies/ellevest.png" class="img-responsive"></img></a>
          <a href="http://empoweru.tech/" target="_blank"><img id="empoweru" src="img/companies/empoweru.png" class="img-responsive"></img></a>
          <a href="https://resuscitech.io/" target="_blank"><img id="resuscitech" src="img/companies/resuscitech.png" class="img-responsive"></img></a>
        </div>
         <div class="company-row">
          <a href="https://fourthwall.com/" target="_blank"><img id="fourthwall" src="img/companies/fourthwall.jpeg" class="img-responsive"></img></a>
          <a href="https://guayaki.com/" target="_blank"><img id="guayaki" src="img/companies/guayaki.png" class="img-responsive"></img></a>
          <a href="https://www.intuscare.com/" target="_blank"><img id="intuscare" src="img/companies/intuscare.png" class="img-responsive"></img></a>
          <a href="https://lithic.com/" target="_blank"><img id="lithic" src="img/companies/lithic.jpeg" class="img-responsive"></img></a>
        </div>

         <div class="company-row">
          <a href="https://medicircle.org/" target="_blank"><img id="medicircle" src="img/companies/medicircle.png"class="img-responsive"></img></a>
          <a href="https://monthly.com/" target="_blank"><img id="monthly" src="img/companies/monthly.jpeg"class="img-responsive"></img></a>
          <a href="https://www.facebook.com/norkahealth/" target="_blank"><img id="norkahealth" src="img/companies/norkahealth.png"class="img-responsive"></img></a>
          <a href="https://databento.com/" target="_blank"><img id="databento" src="img/companies/databento.png"class="img-responsive"></img></a>
        </div>

        <div class="company-row">
         <a href="https://liveowyn.com/" target="_blank"><img id="owyn" src="img/companies/owyn.jpeg" class="img-responsive"></img></a>
         <a href="https://www.bikepointz.com/" target="_blank"><img id="pointz" src="img/companies/pointz.jpeg" class="img-responsive"></img></a>
         <a href="https://www.powerschool.com/" target="_blank"><img id="powerschool" src="img/companies/powerschool.png" class="img-responsive"></img></a>
         <a href="https://www.getready.com/" target="_blank"><img id="ready" src="img/companies/ready.png" class="img-responsive"></img></a>
       </div>

      </div>

<!--        <div class="company-row">
        <a href="https://contrarycap.com/" target="_blank"><img id="contrary" src="img/companies/contrary.jpeg" class="img-responsive"></img></a>
       </div> -->
<!-- 
       <div class="company-row">
        <a href="http://bluejeans.com" target="_blank"><img id="bluejeans" src="img/companies/blueJeans.png" class="img-responsive"></img></a>
        <a href="http://interana.com" target="_blank"><img id="interana" src="img/companies/interana.png" class="img-responsive"></img></a>
        <a href="http://figma.com" target="_blank"><img id="figma" src="img/companies/figma.svg" class="img-responsive"></img></a>
       </div>

      <div class="company-row">
          <a href="http://actioniq.co" target="_blank"><img id="actioniq" src="img/companies/actioniq2.png"class="img-responsive"></img></a> 
          <a href="http://segreenhouse.org" target="_blank"><img id="segreenhouse" src="img/companies/socialEnterpriseGreenhouse.png" class="img-responsive"></img></a>
          <a href="http://startupbootcamp.org" target="_blank"><img id="startupbootcamp" src="img/companies/startupbootcamp.png" class="img-responsive"></img></a>
        </div>
        <div class="company-row">
          <a href="http://foundersleague.co" target="_blank"><img id="founders-league" src="img/companies/founders-league.png"class="img-responsive"></img></a>
          <a href="http://www.mdv.com/" target="_blank"><img id="mdv" src="img/companies/mdv.png" class="img-responsive"></img></a>
          <a href="http://generalcatalyst.com" target="_blank"><img id="general-catalyst" src="img/companies/general-catalyst.png" class="img-responsive"></img></a> 
        </div>
       
        <div class="company-row">
          <a href="http://ycombinator.com" target="_blank"><img id="yc" src="img/companies/yc.jpg" class="img-responsive"></img></a>
          <a href="http://techstars.com" target="_blank"><img id="techstars" src="img/companies/techstars.jpg" class="img-responsive"></img></a>
          <a href="http://betaspring.com" target="_blank"><img id="betaspring" src="img/companies/betaspring2.png"class="img-responsive"></img></a>
          
        </div> -->
      </div>
    </div>
  </section>

  <section id="schedule">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>

    <div class="container">
      <div class="row">
        <div class="header">
          <h2>Schedule</h2>
          <p>We have some great programming lined up this year. Stay tuned for updates.</p>
        </div>
         <div class="timeline">
          <div id="saturday" class="tl-day">
            <h3>Saturday, April 9</h3>
            <ul>
              <li>
                <span class="tl-time">11:30 AM</span>
                <span class="tl-title">Check-in</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Main Green (outdoor) / Sayles (indoor)</li>
                  <li class = "tl-subtext">- Breakfast will be served!</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">12:00 PM</span>
                <span class="tl-title">Opening Keynote Speaker</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Main Green (outdoor) / Sayles Auditorium (indoor)</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">1:15 PM</span>
                <span class="tl-title">Workshops Session I</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Sayles Classrooms</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">2:00 PM</span>
                <span class="tl-title">Networking Session</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Main Green (outdoor) / Sayles Auditorium (indoor)</li>
                  <li class = "tl-subtext">- Catered food + social/games</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">3:15 PM</span>
                <span class="tl-title">Workshops Session II</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Sayles Classrooms</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">4:15 PM</span>
                <span class="tl-title">Pitch Competition</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Sayles Auditorium</li>
                  <li class = "tl-subtext">- Merch upon checking in!</li>
                  <li class = "tl-subtext">- $1000 first prize; $250 audience's choice</li>
                  <li class = "tl-subtext">- <a href="https://docs.google.com/forms/d/e/1FAIpQLScL-OnzyviG8UAXzMmraHFdPK9aOq3AtKNQL_9mZ3wlqc7shA/viewform">APPLY HERE:</a> </li>
                  <li class = "tl-subtext" style="text-align:center"><img src="img/qr.png" width="150" height="150"></li>
                </ul>
              </li>
            </ul>
         </div>

         <!-- divider line -->
         <hr class="divider">
         
         <div id="sunday" class="tl-day">
          <h3>Sunday, April 10</h3>
          <ul>
            <li>
              <span class="tl-time">11:30 AM</span>
              <span class="tl-title">Check-in</span>
              <ul class="tl-sublist">
                <li class = "tl-subtext">- Location: Main Green (outdoor) / Metcalf Auditorium (indoor)</li>
                <li class = "tl-subtext">- Breakfast will be served!</li>
              </ul>
            </li>
            <li>
              <span class="tl-time">12:00 PM</span>
              <span class="tl-title">Opening Keynote Speaker (Charlie Kroll)</span>
              <ul class="tl-sublist">
                <li class = "tl-subtext">- Location: Main Green (outdoor) / Sayles Auditorium (indoor)</li>
              </ul>
            </li>
              <li>
                <span class="tl-time">1:15 PM</span>
                <span class="tl-title">Workshops Session III</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Page-Robinson Classrooms</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">2:00 PM</span>
                <span class="tl-title">Raffle + Food Break</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Main Green (outdoor) / Sayles Auditorium (indoor)</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">3:15 PM</span>
                <span class="tl-title">Workshops Session IV</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Page-Robinson Classrooms</li>
                </ul>
              </li>
              <li>
                <span class="tl-time">4:15 PM</span>
                <span class="tl-title">Recruiting Fair + Professional Networking + Social</span>
                <ul class="tl-sublist">
                  <li class = "tl-subtext">- Location: Main Green (outdoor) / Sayles Auditorium (indoor)</li>
                  <li class = "tl-subtext">- Food Trucks!</li>
                </ul>
              </li>
            </ul>
         </div>
        </div> 
      </div>
    </div>

    <div class="arrow-right" data-start="transform:translate(0%,-250%)" data-end="transform:translate(0%, 0%)"></div>
    <div class="arrow-right arrow-large" data-start="transform:translate(0%,-120%)" data-end="transform:translate(0%,80%)"></div>
  </section>

  <section id="workshops-section">
    <svg class="slant redslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div id="faq-questions" class="col-sm-4">
          <h2>Workshops</h2>
          <p>Learn from leaders, engineers, and designers in the startup world.</p> 
        </div>

        <div class="col-sm-7">
          <h3 style="font-weight: bold">Workshops Session 1 (4/9) — 1:15 - 2:00 PM ET</h3>

          <h3>Christina Qi, CEO <a href="https://www.wayup.com/">Databento</a></p>

          <!-- <h3>Jack Schaeffer, Co-Founder & CEO at <a href="https://medicircle.org/">MediCircle</a></h3> -->

          <!-- <h3>Alex Pryor, Co-Founder at <a href="https://guayaki.com/">Guayaki</a></p> -->
          
          <!-- <h3>Daniel Kraft, Founder at <a href="https://www.digital.health/">Digital.Health</a></p> -->
          

          <!-- <h3>5 Things I Got Wrong and 5 Things I Got Right in my First 5 Years Building a Startup</h3>
          <p>Liz Wessel, Co-Founder & CEO at <a href="https://www.wayup.com/">WayUp</a></p> -->
          
          
          
          <h3 style="font-weight: bold">Workshops Session 2 (4/9) — 3:15 - 4:00 PM ET</h3>
          

          <h3 style="font-weight: bold">Workshops Session 3 (4/10) — 1:15 - 2:00 PM ET</h3>

          <h3>Valentin Perez, Co-Founder at <a href="https://monthly.com/">Monthly</a></p>

          <h3>Beren Rana Oz, Corporate Strategy at <a href="https://cohart.co/">Cohart</a></p>

          <!-- <h3>Miriam Altman-Reyes, Co-Founder & CEO at <a href=https://www.powerschool.com/">PowerSchool (formerly Kinvolved)</a></p> -->


          <h3 style="font-weight: bold">Workshops Session 4 (4/10) — 3:15 - 4:00 PM ET</h3>

          <h3>Cliff Weitzman, Founder & CEO at <a href="https://speechify.com">Speechify</a></p>
            
          <h3>Maggie Bachenberg, Co-Founder at <a href="https://www.bikepointz.com/">Pointz</a></p>

        </div>
      </div>
    </div>
  </section>

  <section id="faq">
    <svg class="slant whiteslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L100 100 L100 0 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div id="faq-questions" class="col-sm-7">
          <h2>FAQs</h2>
          <h3>Who can attend Startup@Brown?</h3>
          <p>All Brown and RISD undergraduate, graduate students, and alumni are welcome! If you're not associated with Brown or RISD, still register and we'll do our best to make sure you get a spot!</p>
          <h3>Why Startup@Brown?</h3>
          <p>As students, while we get a lot of exposure to larger companies, we don’t often hear about the exciting work startups do and the challenges they face. At Startup@Brown, you’ll get the chance to talk in small groups with founders, engineering leads, and venture capitalists. Come to learn about startups and their stories. Leave with a new perspective and your next summer internship or full-time job.</p>
          <h3>What will the event be like?</h3>
          <p>Startup@Brown is a day-long event where you’ll have the chance to interact closely with startup founders, many of them alumni.</p>
          <p>The event will focus on small-group conversations and workshops on topics from “What is Product Management” to “Exploring Accelerators.” Meet with engineers and designers, discuss the technical problems they’re trying to solve, and maybe they'll interest you enough for an internship or job :)</p>
          <h3>How do I apply?</h3>
          <p>Register for Startup@Brown 2022 <a href="https://www.eventbrite.com/e/2022-brown-entrepreneurship-conference-tickets-295260390777">here</a>!</p> 
          <h3>When will I find out if I'm accepted?</h3>
          <p>We would love if everyone could attend, but in past years we've received more interest than available. Please apply early to reserve your spot!</p>
        </div>
        
        <div id="questions-contact" class="col-sm-4">
          <p id="questions"><b>QUESTIONS?</b></p>
          <small>Contact Us</small><br>
          <small><a class="aside-email" href="mailto:startup@brown.edu">startup@brown.edu</a></small>
<!--           <small>You'll reach Valentin Perez.</small> -->
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="map">
    <svg class="slant grayslant top" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 0 L0 100 L100 0 Z"></path>
    </svg>
    <svg class="slant whiteslant bottom" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 102" preserveAspectRatio="none">
      <path d="M0 100 L105 100 L0 2 Z"></path>
    </svg>
    <div class="container">
      <div class="row">
        <div class="location-box">
          <a href="https://goo.gl/maps/JdtT6" target="_blank"><i class="fa fa-location-arrow fa-2x"></i></a>
          <h3>Alumnae Hall</h3>
          <p>194 Meeting St., Providence, RI 02912</p>
        </div>
      </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2972.9403349418553!2d-71.40211339999999!3d41.829582900000005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e445230eba9fed%3A0x40de006467cd1fd2!2sAlumnae+Hall!5e0!3m2!1sen!2sus!4v1440657639294" width="100%" height="650px" frameborder="30px" style="border:0; pointer-events: none;" allowfullscreen></iframe>
  </section> -->

  <section id="register">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h2>Register</h2>
          <p class="large">Meet amazing startups and find your next internship or full-time job.</p>
          <a href="https://www.eventbrite.com/e/2022-brown-entrepreneurship-conference-tickets-295260390777" id="bottom-register-button"class="btn btn-primary">Register Here</a>
          <!-- <p>Or <a href="/volunteer" class="secondary">sign up to be a volunteer.</a></p> -->
        </div>
        <img src="img/qr2.png" width="200" height="200">
      </div>
    </div>
  </section>

  <section id="share">
    <div class="container">
      <div class="fb-like" data-href="https://facebook.com/startupatbrown" data-width="300px" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
  </section>

  {% include footer.html %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

  <!-- JavaScript -->
  <script src="/js/jquery-2.1.4.min.js"></script>
  <script src="/js/skrollr.min.js"></script>
  <script src="/js/wow.min.js"></script>
  <script src="/js/home.js"></script>

  <script src="/js/jquery.scrolldepth.min.js"></script>
  <script>
    jQuery(function() {
      jQuery.scrollDepth();
    });
  </script>


</body>