---
layout: page
title: Participate
description: Event details for participating companies.

css: pages/participate.css
---

<main class="container">
  <div class="row">
    <article>
      <header>
        <h1>Participate in Startup@Brown</h1>
        <p>Event Details for Participating Companies</p>
      </header>

      <p>Dear potential sponsor,</p>

      <p>Brown CS is one of the nation's top computer science programs, and is well known for its talented, creative, and diverse students. This spring, we’re back with the <i>sixth</i> Startup@Brown, a day-long event aimed at connecting top students with amazing startups. Sponsor companies that come to recruit and students alike rave about Startup@Brown so we've kept it going, and improving.</p>

      <p>Our mission is simple:</p>
      <blockquote>
        Give startups effective access to recruiting top talent and inspire students about startup culture.
      </blockquote>

      <h2>Summary</h2>
      <ul class="summary-numbers">
        <li><span>18</span><br>Startups</li>
        <li><span>300+</span><br>Students</li>
        <li><span>1</span><br>Day</li>
      </ul>
      <p class="summary-date-place"><i class="fa fa-calendar"></i>March 27, 2021 <span>&middot;</span> <i class="fa fa-globe"></i>Virtual</p>
      <p>We’ll kick-off with a keynote followed by a virtual open fair. Get ready for talks by venture-backed founders, workshops by engineering leaders and small-group discussions with students.</p>

      <h2>Why Participate?</h2>
      <ul class="features">
        <li class="feature-students">
          {% include svg/students.html %}
          <h3>Meet amazing students.</h3>
          <p>Connect with talented CS and design students from Brown and the Rhode Island School of Design.</p>
        </li>
        <li class="feature-profiles">
          {% include svg/profiles.html %}
          <h3>300+ Student Profiles</h3>
          <p>Get extensive student profiles including resumes and portfolios.</p>
        </li>
        <!--    
                <li class="feature-time">
                  {% include svg/time.html %}
                  <h3>Fall's Earliest Recruitment Event</h3>
                  <p>Startup@Brown is the first major recruiting event on campus, being the weekend before the career fair.</p>
                </li>
                <li class="feature-discount">
                  {% include svg/discount.html %}
                  <h3>25% Discount towards tech fair and hackathon</h3>
                  <p>If participating in both Startup@Brown and the tech fair, you get $300 off the combined participation fee. In addition, you get 25% off the startup tier at Hack@Brown, our annual spring hackathon.</p>
                </li>
      -->
      </ul>

      <h2>Requirements</h2>
      <p>Participating in Startup@Brown is simple.</p>
      <p>Expect to send <strong>at least 2 company representatives</strong> for the duration of the event, ideally one serving in a product role. Recruiters, engineers, and designers are welcome.</p>
      <p>Participation involves a <strong>sponsorship of $400</strong>.</p>

      <h2>Join Us</h2>
      <blockquote>Come join us to meet great talent, share your stories, and inspire students to get involved with startups.</blockquote>

      <hr>

      <div class="cta-spread">
        <p>Interested in participating or have more questions?</p>
        <a href="mailto:alexander_madoff@brown.edu" class="btn btn-primary email-us">Email Us</a>
        <small>You'll reach Alex Madoff, lead organizer.</small>
      </div>
    </article>

    <aside>
      <h2>Get in Touch</h2>
      <a class="aside-email" href="mailto:alexander_madoff@brown.edu">alexander_madoff@brown.edu</a>
      <small>You'll reach Alex Madoff, lead organizer.</small>
    </aside>
  </div>
</main>
