<footer>
  <div class="container">
    <div class="row">
      <div class="brown-cs">
        <a href="http://brown.edu"><img src="/img/brown-logo.png" width="134" height="56"></a>
        <p>Copyright &copy; 2021<br><a href="https://brownentrepreneurship.com">Brown Entrepreneurship Program</a></p>
      </div>

      <div class="co-hosts">
        <p>Hosted by<br><a href="https://brownentrepreneurship.com">Brown EP</a> and <a href="https://aaronjwang.com">Tech@EP</a></p>
      </div>

      <div class="social-links">
        <p>Connect with us on<br><a href="http://facebook.com/startupatbrown">Facebook</a>, <a href="http://twitter.com/startupatbrown">Twitter</a>, or <a href="mailto:startupatbrown2021@gmail.com">Email</a></p>
      </div>
    </div>
  </div>
</footer>
