<footer>
  <div class="container">
    <div class="row">
      <div class="brown-cs">
        <a href="http://cs.brown.edu"><img src="/img/brown-cs-bw.png" width="134" height="56" alt="Brown Computer Science"></a>
        <p>Copyright &copy; 2016<br><a href="http://cs.brown.edu">Brown Computer Science</a></p>
      </div>

      <div class="co-hosts">
        <p>Co-hosted by<br><a href="http://hackatbrown.org">Hack@Brown</a> and <a href="http://brownentrepreneurship.com">Brown EP</a></p>
      </div>

      <div class="social-links">
        <p>Connect with us on<br><a href="http://facebook.com/startupatbrown">Facebook</a>, <a href="http://twitter.com/startupatbrown">Twitter</a>, or <a href="mailto:hello@startupatbrown.org">Email</a></p>
      </div>
    </div>
  </div>
</footer>