/* Colors */

$brand-red: #ff335a;
$brand-red-active: #ff1944;
$brand-gold: #fac152;

$black: #000000;
$grey-darker: #333333;
$grey-dark: #555555;
$grey: #666666;
$grey-light: #999999;
$grey-lighter: #cccccc;
$grey-air: #eeeeee;
$white: #ffffff;

/* Typography */

$light: 300;
$book: 400;
$medium: 500;
$semibold: 600;
$bold: 700;