<svg width="97px" height="113px" viewBox="0 0 97 113" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <!-- Generator: Sketch 3.3.2 (12043) - http://www.bohemiancoding.com/sketch -->
    <title>Slice 1</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="profiles" sketch:type="MSLayerGroup" fill="#000000">
            <g id="Group" sketch:type="MSShapeGroup">
                <path d="M83.904,18.232 L83.904,12.083 L13.333,12.083 L13.333,100.25 L19.482,100.25 L19.482,18.232 L83.904,18.232 Z" id="Shape"></path>
                <path d="M71.237,6.167 L71.237,0.018 L0.666,0.018 L0.666,88.185 L6.815,88.185 L6.815,6.167 L71.237,6.167 Z" id="Shape"></path>
                <path d="M90.053,23.916 L26.096,23.916 L26.096,106.4 L26.096,112.084 L96.667,112.084 L96.667,23.916 L90.053,23.916 Z" id="Shape"></path>
            </g>
        </g>
    </g>
</svg>