---
# home.scss
---

@import "vendor/bootstrap-sass/bootstrap/variables";
@import "vendor/bootstrap-sass/bootstrap/mixins/grid";
@import "partials/mixins";
@import "partials/variables";
@import "components/component";

/* Move this layout later */

* {
  transition: 0;
}

html {
  background-color: #222;
  max-width: 100%;
}

body {
  max-width: 1440px;
  margin: auto;
  background-color: white;
  overflow-x: hidden; 
}


body > section {
  position: relative;
  min-height: 200px;

  h2 {
    margin: 0.2em 0;

    font-size: 2.3em;
    font-weight: $book;
    letter-spacing: 0;
    text-transform: none;
  }

  h2 + p {
    margin-top: 0;
    max-width: 370px;
  }
}


 img { 
   height: auto;
   width: auto;
 } 

svg.slant {
  pointer-events: none;
  height: 100px;
  z-index: 2;
  position: absolute;
}

.whiteslant path {
  fill: #fff;
  stroke: #fff;
  stroke-width: 2;
}

.grayslant path {
  fill: rgba(250, 250, 250, 1);
  stroke: rgba(250, 250, 250, 1);
  stroke-width: 2;
}

.clearslant path {
  fill: rgba(0,0,0,0);
  stroke: rgba(0,0,0,0);
  stroke-width: 2;
}

.redslant path {
  fill: $brand-red;
  stroke: $brand-red;
  stroke-width: 2;
}
.redslant {
      margin-top: -1px;
   @media (max-width: $screen-sm-max) {
    margin-top: -2px;
  }
}

/* Splash */
#splash {
  height: 800px;
  overflow: hidden;
  padding: 80px 0;
  background: rgba(0,0,0,0);
  text-align: center;
  border-bottom: 10px solid red;

  @media (max-width: $screen-xs-max) {
    height: 600px;
  }
}

#first-impression {
	//-webkit-transform: translateZ(0);
	
}

#logo {
  height: 200px;
}

.logo {
  text-align: center;
  margin: auto;
  padding-top: 30px;
  width: 40%;
  z-index:2;
}
  
 #logo-symbol {
  width: 15%;	 
  z-index: 3;
  margin-top: -50px;
  @media (max-width: $screen-sm-max) {
    width: 23%;
  }
 }
 
 #logo-letters {
  display: block;
  margin-top: -20px;
  @media (max-width: $screen-sm-max) {
    width: 75%;
  }
 }
    
 #tagline {
	 margin-top: -7px;
	 font-size: 1.5em;
	 
	 @media (max-width: $screen-sm-max) {
	   font-size: medium;
   }

 }
 #event-info {
  //font-family: 'Montserrat', sans-serif;
  color: #a3a3a3;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: -10px;
  
  
  @media (max-width: $screen-sm-max) {
	  font-size: small;
	 }
 }
 
 #register-button {
    margin-top: 18px;
    color: #ffc963;
    border: 3px solid #ffc963;
    border-radius: 5px;
    
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
}

.hide {
    opacity: 0;
}
#register-button:after {
    background: rgba(255, 201, 99, 0.89) !important; 

}

/* Background Shapes */
.background {
    z-index: -1;

  .shape {
    //visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: transparent center no-repeat;
    background-size: cover;
    overflow: hidden;

    &.red {
      background: $brand-red;
    }

    &.gold {
      background: $brand-gold;
    }
    
    @media (max-width: $screen-sm-max) {
	    //visibility: hidden;
/*
	    &#top-left-red {
  	    transform: translate(-85%, -10%);
  	    transform: rotate(-40deg);
	    }
	    
	    &#top-right-gold {
  	    transform: translate(85%, -98%);
  	    transform: rotate(-30deg);
	    }
	    &#bottom-right-red {
  	    transform: translate(75%, -20%);
  	    transform: rotate(30deg);
	    }
	    #bottom-left-gold {
  	    transform: translate(-15%, 90%);
  	    transform: rotate(5deg);
	    }
	    
*/
	    
    }
  }

  #top-left-red {
    ///@include linear-gradient(rgba(255,60,102,0.9) 24.17%, $brand-red 110%);
     background: -webkit-linear-gradient(rgba(255, 60, 102, 0.9)  24.17%, #ff0b40 110%);
     @media (max-width: $screen-sm-max) {
       transform: translate(-115%, -60%)rotate(-40deg);
       -webkit-transform: translate(-115%, -60%)rotate(-40deg);
	   }
	   
	   @media (max-width: 1400px) {
      margin-left: -100px;
	   }
	   
  }

  #top-right-gold {
    width: 70%;
    background: -webkit-linear-gradient(#ffc963 30%, rgba(255, 201, 99, 0.9) 80.05%);
//     @include linear-gradient(left, $brand-gold 30%,rgba(255,201,99,0.9) 80.05%);
    @media (max-width: $screen-sm-max) {
      transform: translate(45%, -88%)rotate(-30deg);
      -webkit-transform: translate(45%, -88%)rotate(-30deg);
	   }
  }

  #bottom-left-gold {
    width: 120%;
    background: -webkit-linear-gradient(#ffc963 0%, rgba(255,201,99,0.64) 10%);
//     @include linear-gradient(left, $brand-gold 0%, rgba(255,201,99,0.64) 10%);

    @media (max-width: $screen-sm-max) {
      transform: translate(-15%, 90%)rotate(5deg);
      -webkit-transform: translate(-15%, 90%)rotate(5deg);
    }
  }

  #bottom-right-red {
    width: 128%;
    height: 220%;

	background: -webkit-linear-gradient(rgba(255, 60, 102, 0.9)  1.17%, #ff0b40 110%);  
//     @include linear-gradient(left, rgba(255,60,102,0.9) 1.17%, $brand-red 110%);
    @media (max-width: $screen-sm-max) {
      transform: translate(95%, -20%)rotate(30deg);
      -webkit-transform: translate(95%, -20%)rotate(30deg);
	  }
  }
}

.circle {
    width: 20px;
    height: 20px;
    position: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    z-index: 2;
}

.center {
 float: none;
 margin-left: auto;
 margin-right: auto;
}

.white {
    background: white;
}

.white-text {
    color: white;
}


/* Intro */
#intro {
  padding: 60px 0; 
  background-color: white;
}

#intro h2 {
  @include make-md-column(6);

  font-size: 1.75em;
  color: $brand-red;  
}

.intro-description {
  @include make-md-column(6);
}




/* Speakers */
#speakers {
  padding-top: 80px;
  color: white;
  z-index: 2;

  background-image: linear-gradient(135deg, #191818 0%, #303030 100%);

  @media (max-width: $screen-xs-max) {
    padding-top: 100px;
  }
}

.below {
  z-index: -1;
}
.speakers-header {
  @include make-sm-column(6);

  margin-right: 5px;
  padding: 0 20px;
  word-wrap: break-word;
  h2 {
    color: white;  
    word-wrap: break-word;
  }

  p {
    color: $grey-lighter;
  }
  
  @media (max-width: $screen-sm-max) {
    margin-bottom: -30px;

    p {
  	  word-wrap: break-word;
  	  padding-right: 5px;
  	  overflow: hidden;
  	  
    }
  }
}

#speakers ul {
  width: 100%;
  margin: 0;
  padding: 0;
  
  list-style: none;

  /* Clearfix */
  &:after {
    content:"";
    display:table;
    clear:both;
  }

  li {
    position: relative;
    width: 50%;
    float: left;
    min-height: 400px;

    background-color: black;
    border: 2px solid white;
    border-top-width: 0;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
    @media (max-width: $screen-sm-max) {
      min-height: 350px;
      width: 100%;
      border: 0 !important;
    }
    
    &:nth-child(1) {
      margin-top: 165px;
      border-top: 2px solid white;
      border-right-width: 0;

      @media (max-width: $screen-xs-max) {
        margin-top: 80px;
      } 
    }

    &:nth-child(2) {
      margin-top: -190px;
     
      @media (max-width: $screen-sm-max) {
        margin-top: 0px;
      }
    }
    
    &:nth-child(3) {  
      @media (max-width: $screen-sm-max) {
      }
    }

    &:nth-child(4) {
      border-right-width: 0;
    }

    &:nth-child(6) {
      margin-top: -45px;
      border-right-width: 0;

      @media (min-width: $screen-sm-max) {
        .speaker-label {
          height: 120px;
        }
      }

      @media (max-width: $screen-sm-max) {
        margin-top: 0px;
      }
    }

    &:nth-child(7) {
      .speaker-label {
        height: 130px;

        @media (max-width: $screen-xs-max) {
          height: 160px;
        }
      }
    }
  }
}

.speaker-label {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  height: 70px;
  padding: 10px 16px;
  
  background-color: rgba(0,0,0,0.25);

  p {
    margin: 0;
    padding: 0;
  }

  .speaker-description {
    font-size: 0.9em;
    color: $grey-lighter;
  }
  @media (max-width: $screen-sm-max) {
    margin-bottom: 0px;
    height: 70px;
  }
}

#marcel {
  background: url("../../img/speakers/marcel.jpg") no-repeat;
   @media (max-width: $screen-sm-max) {
    background-position: 200px 200px; 
  }
}

// #cheryl {
//   background: url("../../img/speakers/cheryl.png") no-repeat;
//   // background-position: 0px -33px; 
//   // background-size: auto 430px !important;
//   @media (max-width: $screen-sm-max) {
//     background-position: -70px 0px; 

//     // .speaker-label {
//     //   height: 100px;
//     // }
//   }
// }

#cheryl {
  background: url("../../img/speakers/cheryl.jpg") no-repeat;
  @media (max-width: $screen-sm-max) {
    background-position: 0px 0px; 
  }
}

#lorine {
  background: url("../../img/speakers/lorine.jpg") no-repeat;
  @media (max-width: $screen-sm-max) {
    background-position: 0px 0px; 
  }
}

#cliff {
  background: url("../../img/speakers/cliff.jpg") no-repeat;
  @media (max-width: $screen-sm-max) {
    background-position: -0px 0px; 
  }
}

#liz {
  background: url("../../img/speakers/liz.jpg") no-repeat;
  @media (max-width: $screen-sm-max) {
    background-position: 0px 0px; 
  }
}

// #sam {
//   background: url("../../img/speakers/sam.png") no-repeat;
//   background-position: 0px -79px; 

//   @media (max-width: $screen-sm-max) {
//     background-position: 0px -20px; 
//   }
// }

#sam {
  background: url("../../img/speakers/sam.jpg") no-repeat;
  @media (max-width: $screen-sm-max) {
    background-position: 0px 0px; 
    zoom: 0.5;
  }
}

#ben {
  @media (min-width: $screen-sm-max) {
    // margin-top: -45px;
  }

  background-color: #F6F6F6 !important;

  background: url("../../img/speakers/ben.jpg") no-repeat;
  background-size: auto 430px !important;
  background-position: 30px auto; 
}

#lorine .speaker-label, #jason .speaker-label {
  background-color: rgba(0, 0, 0, 0.8);
}

.img-speaker{
  max-width:100%;
  max-height:100%;
}

.slant.top {
  top: 0;
}

.slant.bottom {
  bottom: 0;
  margin-bottom: -5px;
}

/* Items Section */
#items {
	margin: 0;
	padding: 0;

  .slant.top {
    margin-top: -5px;
  }
}

#items-container {
  margin-top: 8px;

  /* Clearfix */
  &:after {
    content:"";
    display:table;
    clear:both;
  }
}

.item {
  position: relative;
  float: left;
  width: 33.3%;
  height: 600px;

  padding: 0;
  margin: 0;
  margin-top: -12px;

  background-size: cover;
  background-repeat: no-repeat;

  .speaker-label {
    height: 200px;
    background-color: black;

    color: white !important;
  }

  @media (max-width: $screen-sm-max) {
    width: 100%;
    height: 350px;

    margin-top: 0;
    background-position: 0px -80px;

    .speaker-label {
      padding-top: 15px;
      height: 130px !important;
    }
  }
}

#startup-fair {
  background-image: url("../../img/items/open-fair.jpg");
}

#small-conversations {
  background-image: url("../../img/items/sgc.jpg");

  .speaker-label {
    height: 175px;
  }
}

#workshops {
  background-image: url("../../img/items/workshops.jpg");

  .speaker-label {
    height: 150px;
  }

  @media (max-width: $screen-sm-max) {
    height: 450px;

    .speaker-label {
      height: 220px !important;
    }
  }
}

/* Sponsors */
#sponsors {
  padding: 50px 0 80px;
  background-color: white;

  .row {
    padding-left: 15px;
    padding-right: 15px;
  }

  @media (max-width: $screen-xs-max) {
    padding-top: 10px;
  }
}

#sponsors h2 {
	color: $brand-red;
}

#sponsors h2 + p {
  margin-bottom: 70px;
}

.sponsors-question {
  font-weight: $medium;
  color: $grey-dark;
}

.sponsors-subtext {
  color: $grey-light;
}

.company-row {
  margin-bottom: 60px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 0;
  }
}

.company-row img {
  height: 65px;
  width: auto;

  margin-right: 60px;
  @media (max-width: $screen-sm-max) {
    margin-bottom: 30px;
  }
}

#mdv {
  height: 135px;
  margin-top: -65px;
  position: relative;
  top: 30px;
}

#lob {
  height: 80px;
}

#segreenhouse {
  height: 90px;
}
#a16z, #yc, #techstars {
    height: 85px;
}

#cloudera {
  height: 100px;
  transform: translateY(15px);
  margin-left: -20px;
}

#secondspectrum {
  height: 70px;
}
#bluejeans {
  height: 45px;
}

#onRed {
  height: 40px;
}

#startupbootcamp {
  height: 80px;
}

#pinterest {
  height: 95px;
}
#farmlogs, #apropose {
  height: 55px;
}

#casper, #founders-league {
  height: 50px;
}

#planetLabs {
  height: 105px;
}

#betaspring {
  height: 160px;
  position: relative;
  margin-top: -65px;
  top: 40px;
}

#swipely, #fivestars {
  height: 75px;
  transform: translateY(15px);
}

#delphix {
  transform: translateY(-15px);
}


/* Schedule */
#schedule {
  padding: 100px 0;
  color: white;

  background-image: linear-gradient(-180deg, #D92B4B 0%, $brand-red 100%);

  h2 {
    color: white;
  }
}

#schedule .header {
  @include make-md-column(6);
}

#schedule .timeline {
  position: relative;
  @include make-md-column(6);
  margin-top: 2em;

  font-size: 1.25em
}

.tl-day {
  position: relative;

  h3 {
    margin-left: 125px;

    font-weight: $medium;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &:before {
    content: "";
    position: absolute;
    left: 106px;
    
    height: 115%;
    width: 4px;

    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 8px;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    margin-bottom: 30px;
  
    @media (max-width: $screen-sm-max) {
      font-size: small;
    }

  }
}

#saturday {
  margin-bottom: 135px;
}

.tl-time {
  display: inline-block;
  width: 90px;
  text-align: right;

  &:after {
    content: "";
    position: absolute;

    width: 12px;
    height: 3px;

    margin-top: 14px;
    margin-left: 12px;

    background-color: white;
    border-radius: 2px;
  }
}

.tl-title {
  display: inline-block;
  margin-left: 30px;
}

.arrow-right {
  position: absolute;
  bottom: 0;

  width: 0; 
  height: 0; 

  border-top: 120px solid transparent;
  border-bottom: 120px solid transparent;
  border-left: 220px solid rgba(250, 193, 82, 0.74);

  z-index: 3 !important;
  
   @media (max-width: $screen-sm-max) {
  	  visibility: hidden;
    }
}

.arrow-large {
  border-top-width: 200px;
  border-bottom-width: 200px;
  border-left-width: 370px;
}

/* FAQ */
#faq {
  padding: 50px 0;
  background-color: rgba(250, 250, 250, 1);
  
  h2 {
  	color: $grey-dark;
  }

  h3 {
    margin-top: 1.8em;
    margin-bottom: 0.2em;

  	color: $grey-dark;
    font-size: 1.3em;
    font-weight: $book;
  }

  h3 + p {
    margin: 0;
  }
  
  .container {
  	padding-top: 50px;
  }
}

#workshops-section {
  padding: 50px 0;
  background-color: white;
  
  h2 {
  	color: $grey-dark;
  }

  h3 {
    margin-top: 1.8em;
    margin-bottom: 0.2em;

  	color: $grey-dark;
    font-size: 1.3em;
    font-weight: $book;
  }

  h3 + p {
    margin: 0;
  }
  
  .container {
  	padding-top: 50px;
  }
}

#faq-questions {
	padding-right: 10px;
}

// for some reason using aside was causing problems with the text.
#questions-contact {
  @include make-md-column(4);
  margin-top: 5em;
  padding-bottom: 100px;
  margin-left: 45px;
  padding-left: 20px !important;

  @include left-border-gradient();

  @media (max-width: $screen-sm-max) {
    display: none;
  }

  h2 {
    margin-top: 0;
  }
  a {
	  color: $grey-dark;
  }
}
  
/* Map */
#map {
  position: relative;
  overflow: hidden;
}


.location-box {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  padding: 20px;
  margin-left: 15px;

  text-align: center;

  background-color: rgba(255, 255, 255, 0.95);
  border: 4px solid $brand-gold;

  h3 {
    font-size: 1.75em;
    font-weight: $book;
    margin: 0;
    margin-bottom: 0.2em;
  }

  h3 + p {
    margin: 0;
  }
  
  a {
    color: $grey-dark;
  }
  
  @media (max-width: $screen-sm-max) {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin-left: 0;
  }

  @media (max-width: $screen-xs-max) {
    width: 80%;
  }
  
  // iPhone 6 specific
  @media only screen and (min-device-width: 374px) and (max-device-width: 376px) and (orientation : portrait)  { 
    left: 15%;
    top: 20%;
  }
  // iPhone 6+ specific
  @media only screen and (min-device-width: 413px) and (max-device-width: 415px) and (orientation : portrait) { 
    left: 15%;
    top: 20%;
  }
}


#map iframe {
  margin-top: -110px;
}

/* Register */
#register {
  padding: 50px 0px;
  margin-bottom: -40px;
  background-color: white;

  h2 {
    color: $brand-red;
  }

  .large {
    font-size: 1.35em;
    margin-bottom: 44px;
  }

  .btn {
    height: 52px;
    width: 270px;

    overflow: hidden;
    padding-top: 14px;
  }
}

/* Share */
#share {
  padding-top: 20px;

  min-height: 0;
}