---
# participate.scss
---

@import "vendor/bootstrap-sass/bootstrap/variables";
@import "partials/mixins";
@import "partials/variables";

a.aside-email {
  display: block;
  margin-bottom: 0.5em;

  font-style: italic
  font-size: 1.25em;
  color: $grey;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.summary-numbers {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  list-style-type: none;

  text-transform: uppercase;

  li {
    position: relative;
    display: inline-block;
    padding-right: 25px;

    &:not(:first-child) {
      padding-left: 25px;
      @include left-border-gradient();
    }
  }

  span {
    font-size: 1.6em; // 1.6 * 1.25em = 2em in terms of body copy
  }
}

.summary-date-place {
  margin-bottom: 30px;
  font-style: italic;

  span {
    margin: 0 6px;
  }

  i.fa {
    font-size: 0.8em;
    margin-right: 10px;
    margin-bottom: 2px;

    display: none;
  }
}

.features {
  margin: 0;
  padding-left: 45px;
  list-style-type: none;

  h3 {
    margin-bottom: 0.125em;
  }

  li {
    position: relative;

    p {
      margin-top: 0;
    }
  }

  svg {
    position: absolute;
    left: -45px;

    height: 32px;
    width: 32px;

    path {
      fill: #5e5e5e;
    }
  }

  &.feature-profiles svg, &.feature-time svg {
    width: 28px;
    height: 28px;
  }
}

.table-responsive
{
    overflow-x: auto;
}
.table {
  margin-left: 5px; 
  tbody {
    font-size: 0.95em;
  }
  th {
    padding-right: 25px;
    margin-right: 15px;
    font-weight: $semibold;
    .hour {
      padding-right: 20px;
    }
  }
  td {
    padding-right: 20px;
  }

  h4 {
    font-weight: $medium;
    margin-bottom: 3px;
  }
  p {
    margin-top: 2px;
    margin-bottom: 2px;
  }
}

.cta-spread {
  position: relative;
  display: inline-block;

  margin: auto;

  p {
    margin: 0;
  }

  .btn {
    width: 100%;
    margin: 1em auto 0.5em;

    /* On larger screens, switch to right side */
    @media (min-width: $screen-xs-min) {
      position: absolute;
      left: 100%;
      top: 0;

      width: auto;
      margin: auto;
      margin-left: 25px;
      white-space: nowrap;
    }
  }

  small {
    display: block;
  }
}
